[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "countrycode"]
	path = countrycode
	url = https://github.com/vincentarelbundock/countrycode
	shallow = true
	registered = true
[submodule "modelsummary"]
	path = modelsummary
	url = https://github.com/vincentarelbundock/modelsummary
	shallow = true
	registered = true
[submodule "WDI"]
	path = WDI
	url = https://github.com/vincentarelbundock/wdi
	shallow = true
	registered = true
[submodule "insight"]
	path = insight
	url = https://github.com/easystats/insight
	shallow = true
	registered = false
[submodule "parameters"]
	path = parameters
	url = https://github.com/easystats/parameters
	shallow = true
	registered = false
