[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rdatasets"]
	path = Rdatasets
	url = https://github.com/vincentarelbundock/rdatasetspkg
[submodule "WDI"]
	path = WDI
	url = https://github.com/vincentarelbundock/wdi
[submodule "countrycode"]
	path = countrycode
	url = https://github.com/vincentarelbundock/countrycode
[submodule "fwb"]
	path = fwb
	url = https://github.com/ngreifer/fwb
	registered = false
[submodule "marginaleffects"]
	path = marginaleffects
	url = https://github.com/vincentarelbundock/marginaleffects
[submodule "modelsummary"]
	path = modelsummary
	url = https://github.com/vincentarelbundock/modelsummary
[submodule "softbib"]
	path = softbib
	url = https://github.com/vincentarelbundock/softbib
[submodule "tinysnapshot"]
	path = tinysnapshot
	url = https://github.com/vincentarelbundock/tinysnapshot
[submodule "tinytable"]
	path = tinytable
	url = https://github.com/vincentarelbundock/tinytable
