[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "countrycode"]
	path = countrycode
	url = https://github.com/vincentarelbundock/countrycode
	shallow = true
	registered = true
[submodule "marginaleffects"]
	path = marginaleffects
	url = https://github.com/vincentarelbundock/marginaleffects
	shallow = true
	registered = true
[submodule "modelsummary"]
	path = modelsummary
	url = https://github.com/vincentarelbundock/modelsummary
	shallow = true
	registered = true
[submodule "WDI"]
	path = WDI
	url = https://github.com/vincentarelbundock/wdi
	shallow = true
	registered = true
[submodule "tinysnapshot"]
	path = tinysnapshot
	url = https://github.com/vincentarelbundock/tinyviztest
	shallow = true
	registered = false
